.container-fluid {
    padding: 0 !important;
     margin: 0 !important;
}

body { 
   overflow-x: hidden;
   background: rgba(76,76,76,1);
   background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 24%, rgba(102,102,102,1) 50%, rgba(43,43,43,1) 54%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(24%, rgba(89,89,89,1)), color-stop(50%, rgba(102,102,102,1)), color-stop(54%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
   background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 24%, rgba(102,102,102,1) 50%, rgba(43,43,43,1) 54%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
   background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 24%, rgba(102,102,102,1) 50%, rgba(43,43,43,1) 54%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 24%, rgba(102,102,102,1) 50%, rgba(43,43,43,1) 54%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
   background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 24%, rgba(102,102,102,1) 50%, rgba(43,43,43,1) 54%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
   background-size: contain;
}

.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/*pace over rides*/

.pace .pace-progress {
  height: 5px !important;
}

/*overrides for bootstrapv4's modal*/

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}