.container-fluid {
    padding: 0 !important;
     margin: 0 !important;
}

body { 
   overflow-x: hidden;
}

.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/*pace over rides*/

.pace .pace-progress {
  height: 5px !important;
}

/*overrides for bootstrapv4's modal*/

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}