.container-fluid {
    padding: 0 !important;
     margin: 0 !important;
}

/*overrides for bootstrapv4's modal*/

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}