<!DOCTYPE html>
<html ng-strict-di ng-app="booksApp">

<head>
    <title>Books By ByteMark</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>

<body>
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand" href="#">ByteMark's Task</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/#/books"><i class="fa fa-list-ul" aria-hidden="true"></i> List <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text">
      Logout
    </span>
        </div>
    </nav>

    <div class="container-fluid">
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
        <div style="margin-top:30px;" ui-view></div>
    </div>
    <script>
        window.paceOptions = {
            document: true,
            eventLag: true,
            restartOnPushState: true,
            restartOnRequestAfter: true,
            ajax: {
                trackMethods: ['POST', 'GET']
            }
        }

    </script>
</body>

</html>