<!DOCTYPE html>
<html ng-strict-di ng-app="booksApp">
<head>
  <title>Books By ByteMark</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body class="container">
<div class="col-sm-10">
  <div ui-view></div>
</div>
  <script>
    window.paceOptions = {
      document: true,
      eventLag: true,
      restartOnPushState: true,
      restartOnRequestAfter: true,
      ajax: {
        trackMethods: [ 'POST','GET']
      }
    }
  </script>
</body>
</html>

