<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add a new Book</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
            <div class="col-sm-10 col-md-10 offset-sm-1 offset-md-1">
                <div class="form-group row">
                    <label for="example-text-input" class="col-4 col-form-label">Title</label>
                    <div class="col-8">
                        <input class="form-control" placeholder="Enter title" type="text" ng-model="book.title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-4 col-form-label">Author</label>
                    <div class="col-8">
                        <input class="form-control" placeholder="Enter author" type="text" ng-model="book.author">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-4 col-form-label">Categories</label>
                    <div class="col-8">
                        <input class="form-control" placeholder="Enter categories" type="text" ng-model="book.categories">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-4 col-form-label">Publisher</label>
                    <div class="col-8">
                        <input class="form-control" placeholder="Enter publisher" type="text" ng-model="book.publisher">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 mx-auto">
                <button class="btn btn-success" type="button" ng-click="addBNewBook(book)"><i class="fa fa-check-plus" aria-hidden="true"></i><i class="fa fa-check-square" aria-hidden="true"></i> Add</button>
                <button class="btn btn-info" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
</div>
    <div class="modal-footer text-center">
        <button class="btn btn-sm btn-primary" type="button" ng-click="cancel()">Close</button>
    </div>
</div>