<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Book Data</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="http://placehold.it/100x125" class="img-rounded m-2">
        </div>
        <div class="col-sm-8">
            <div class="form-group row">
                <label for="example-text-input" class="col-4 col-form-label">URL</label>
                <div class="col-8">
                    <input class="form-control" type="text" ng-model="book.url" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-4 col-form-label">Title</label>
                <div class="col-8">
                    <input class="form-control" type="text" ng-model="book.title">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-4 col-form-label">Author</label>
                <div class="col-8">
                    <input class="form-control" type="text" ng-model="book.author">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-4 col-form-label">Categories</label>
                <div class="col-8">
                    <input class="form-control" type="text" ng-model="book.categories">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-4 col-form-label">Publisher</label>
                <div class="col-8">
                    <input class="form-control" type="text" ng-model="book.publisher">
                </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="book.title==''||book.author==''||book.categories==''||book.publisher==''">
                <strong>Required!</strong> Please fill all the fields
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 mx-auto">
            <button class="btn btn-success" ng-disabled="book.title==''||book.author==''||book.categories==''||book.publisher==''" type="button"
                ng-click="update(book)"><i class="fa fa-check-square" aria-hidden="true"></i> Update</button>
            <button class="btn btn-info" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <button class="btn btn-sm btn-primary" type="button" ng-click="cancel()">Close</button>
</div>
</div>