<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 offset-md-1">
    <div class="card text-center">
      <div class="card-header clearfix">
        <ul class="nav nav-pills card-header-pills float-left">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <ul class="nav nav-pills card-header-pills float-right">
          <li class="nav-item">
            <button class="btn btn-primary" ng-click="books.addBook()">Add Book</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" ng-click="books.deleteLibrary()">Delete Library</button>
          </li>
        </ul>
      </div>
      <div class="card-block">
        <div class="card-deck" ng-init="books.getBooksList()">
          <div class="card col-xs-6 col-sm-6 col-md-4 m-3" ng-repeat="book in books.list">
            <img class="card-img-top" src="http://placehold.it/250x125" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{book.title}}</h4>
              <p class="card-text">Description (if any).</p>
            </div>
            <div class="card-footer text-xs-center">
              <a href="/#{{book.url}}"> <button class="btn btn-success btn-sm">View</button></a>
              <button class="btn btn-danger btn-sm" ng-click="books.deleteBook(book)"><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
              <small class="text-right">2 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>